
.auth-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-form-container {
  width: 100%;
  max-width: 450px;
  padding: 2.5rem;
  background: rgba(0, 0, 0, 0.222);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.auth-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-input,
.form-select {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #b1bfd2;
  background-color: #1f293757;
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-input:focus,
.form-select:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}

.auth-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ffffff46;
  color: #2564eb;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.auth-button:hover {
  background-color: #2564eb;
  color: white;
}

.auth-switch-link {
  text-align: center;
  margin-top: 1.5rem;
}

.auth-switch-link a {
  color: #60a5fa;
  font-weight: 600;
  text-decoration: underline;
}
